<html>
<style>
header ul li {
display:inline-block;
margin:10px;
}
</style>
<body>
<div style = "width:1200px; height:auto; min-height:500px; 
margin:0 auto; border:2px dotted grey;">
    <header style="width:1200px; height:50px">
	   <ul>
	    <li><a href = "/">Home</a></li>
	    <li><a href = "/adduser">AddUser</a></li>
	    <li><a href = "/listuser">ListUser</a></li>
	   </ul>
	</header>
	

