<%- include("itemheader"); %>
<div style= "width:1200px; height:auto;
min-height:500px; border:1px solid red;">
All Content Will Display Here
<h1><%=msg%></h1>
</div>
<%- include("itemfooter"); %>